---
import Image from "../components/Image.astro";

interface Props {
  logo?: string;
  alt?: string;
  loading?: "eager" | "lazy";
  title: string;
  description: string;
  titleSize: string;
}

const { logo, alt, loading, title, description, titleSize } = Astro.props;
---

<text>
  {
    logo && (
      <Image loading={loading} className="mx-auto my-5" src={logo} alt={alt} />
    )
  }
  <h2
    class:list={`font-medium text-nandor-900 text-balance mb-4 text-[${titleSize}]`}
  >
    {title}
  </h2>
  <p class="text-balance text-aluminium-700 text-[18px]">
    {description}
  </p>
</text>
